.root {
  @mixin body-2;
  font-size: 20px;
  position: relative;
  z-index: 1;
  padding-top: calc(10vh + var(--fs-display-1) + var(--spc-8));
  margin-top: calc(var(--app-height) / 2);
  margin-bottom: 100vh;
  color: var(--color-white);

  @media (--md-l) {
    margin-top: var(--app-height);
  }

  h3 {
    margin-top: var(--content-block-margin-top);
  }
}

.video {
  width: 100%;
  max-width: 1080px;
  aspect-ratio: 1080 / 560;
  object-fit: cover;
  display: block;
  margin: 0 auto; /* centers the video */
}
.awardsTitle {
  margin-top: var(--spc-10);
}

.section {
  margin-top: var(--content-block-margin-top);
}

.columns {
  @media (--md-l) {
    display: flex;
    flex-direction: row;
    gap: var(--spc-4);

    > * {
      flex: 1;
    }
  }
}
