.root {
  @mixin body-2;
 
    font-size: 20px; /* Increase/decrease as needed */
 
  position: relative;
  z-index: 1;
  padding-top: calc(15vh + var(--fs-display-1) + var(--spc-10));
  margin-top: calc(var(--app-height) / 2);
  color: var(--color-white);
   

  @media (--md-l) {
    height: 400vh;
  }

  h3 {
    margin-top: var(--content-block-margin-top);
  }
}

.pre {
  display: block !important;
  font-style: italic;
  line-height: 1;
}

.cardContainer {
  height: 320vh;
}

.video {
  display: none;
}

.awardsTitle {
  margin-top: var(--spc-10);
}

.section {
  margin-top: var(--content-block-margin-top);
}

.columns {

  @media (--md-l) {
    display: flex;
    flex-direction: row;
    gap: var(--spc-4);

    > * {
      flex: 1;
    }
  }
}
.projectSection {
  padding-top: 15vh;

  @media (--md-l) {
    padding-top: 33vh;
  }
}
